// @import 'bourbon';
// @import 'neat';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome.scss';

body {
  font-family: 'Josefin Slab';
}

.headerContainer {
  background: rgba(247, 247, 241, 1);
  height: 450px;
  text-align: center;
  font-family: 'Josefin Slab';
}

.headerTitle {
  margin: 0;
  font-size: 4rem;
  padding-top: 150px;
}

.headerSubtitle {
  margin: 0;
  font-size: 2rem;
}

.headerList {
  list-style: none;
  padding: 30px 50px;
  margin: 70px auto 0px;
  display: inline-block;
  border-bottom: 2px solid rgba(51, 51, 51, 1);
}

.headerListItem {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  margin: 0 10px;
}

.headerListItem a {
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
  position: relative;
}

.headerListItem a:after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(51, 51, 51, 1);
  width: 0;
  position: absolute;
  left: 0;
  transition: .3s ease;
}

.headerListItem a:hover:after {
  width: 100%;
}

.subHeaderBanner {
  background-image: url('http://s27.postimg.org/4h2d62bgi/food_one.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.menuContainer {
  width: 45%;
  float: left;
  min-height: 300px;
  margin: 0 0 0 5%;
}

.menuGroupContainer {
  margin-bottom: 50px;
}

.menuItemName {
  margin-bottom: 5px;
}

.menuItemAddButton {
  background: none;
  border: none;
  border-radius: 100%;
  transition: all .3s ease;

  &:hover {
    background: rgba(245, 245, 245, 1);
  }
}

.menuItemDescription {
  margin-top: 0;
  margin-bottom: 20px;
}

.orderContainer {
  width: 40%;
  height: 100vh;
  padding-left: 3%;
  float: right;
  border-left: 1px solid black;
}

.orderContainerSticky {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  overflow-y: scroll;
}

.subtotalWrapper {
  border-top: 1px solid black;
  display: inline-block;
}

.subtotalP {
  display: inline-block;
}
